{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %} 


    {{ dump(user.id) }}

{% if app.user == true %}
<p> vous etes connecté avec {{ app.user.username }}</p>

{% if userIsAdmin == true %}

vous etes administrateur de {{ associations.0.name }}, pour voir la valorisation de vos adhérants cliquez ici
{% endif %}

{% else %}
<p> vous n'etes pas connecté, connectez vous <a href="{{ path('app_login') }}">ici</a></p>
{% endif %}


{% endblock %}
