

{% block title %}s'inscrire{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}

    {{form_start(registrationForm)}}
    {{form_row(registrationForm)}}
    <button type="submit" class="btn btn-primary">Register</button>
    {{form_end(registrationForm)}}

{% endblock %}