{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {{form_start(registrationForm)}}
    {{form_row(registrationForm)}}
    <button type="submit" class="btn btn-primary">Register</button>
    {{form_end(registrationForm)}}

{% endblock %}