@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
  
  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
  }
  .associations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .uniqueAssoc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 20rem;
    width: 15rem;
    margin: 1rem;
    border-radius: 5px;
  }
  .uniqueAssoc img{
    width: 80%;
    height: auto;
  }
  .uniqueAssoc p{
    text-align: center;
  }
  .uniqueAssoc a{
    width: 10px;
  }
  
  .infoPerso{
    display: flex;
    width: 30rem;
    border: 1px solid red;
    border-style: outset;
    flex-direction: column;
  }
  .infoPerso-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
  }

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .tableau{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .ligne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: auto;
    width: 15rem;
    margin: 1rem;
    border-radius: 5px;
  }
  .pagination{
    justify-content: center;
  }

  .homeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }
  .homeCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 20rem;
    width: 15rem;
    margin: 1rem;
    border-radius: 5px;
  }
  .form-saisie{
    display: flex;
    flex-direction: row;
  }
.sidebar{
    display: none;
  }

@media only screen and (min-width : 1024px){

    body{
        display: grid;
        grid-template-columns: 6rem 1fr;
        grid-template-rows: 15% 85%;;
    }
    .hamburger{
        display: none;
    }
    .homeContainer{
        justify-content: flex-start;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 6rem;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 1;
        background-color: #152149;
        transition: width 200ms ease;
        z-index: 1000;
    }
.navbar-ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
}
.nav-item{
  width: 100%;
}
    .nav-item:nth-last-child(1){
        margin-top: auto;
        margin-bottom: 1rem;
    }
    .nav-links{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;
      width: 100%;
      text-decoration: none;
      color: white;
      filter: grayscale(100%) opacity(0.7);
      transition: 600ms;
    }
    .logo{
      width: 6rem;  
      min-width: 6rem;
      height: auto;
      padding: 1rem;
      fill: red;
    }
    .nav-links:hover{
      color: white;
      background-color: green;
      filter: grayscale(0%) opacity(1);
    }
    .nav-links:hover span{
      filter: grayscale(0%) opacity(1);
      color: white;
    }
    .sidebar span{
      display: none;
      margin-left: 1rem;
  }

    .sidebar:hover{
      width: 15rem;
      z-index: 20;
    }
    .sidebar:hover span{
      display: block;
      width: 55%;
      text-align: center;
    }

    .nav-svg{
      width: 1.2rem;
      height: auto;
      fill: white;
      min-width: 1.2rem;
    }

    
    main{
        z-index: 10;
        grid-column: 2;
        grid-row: 2;
        background-color: blue;
    }
}