main{
    width: 100%;
    height: 100%;
}
.table{
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}
.latest-table{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}
.table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #152149;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.table tr:hover{
    background-color: #ddd;
    cursor: pointer;
}
.separation-tr{
    display: none;
}
.test-salut{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media only screen and (max-width: 964px){
    th{
        display: none;
    }
    table, tr, td{
        display: block;
        width: 100%;
    }
    tr{
        margin-bottom: 1rem;
    }
    td{
        text-align: left;
        position: relative;
        width: 100%;
    }
    td::before{
        content: attr(data-label);
        display: block;
        width: 100%;
        padding-left: -5px;
        color: #152149;
        font-weight: 600;
        font-size: 15px;
    }
    .separation-tr{
        width: 10rem;
        height: 3rem;
        background-color: #152149;
    }
}