main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
/* .table{
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.latest-table{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}
.table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table th{
    text-align: left;
    background-color: #152149;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
*/
.table th:hover{
    background-color: #152149;
    cursor: pointer;
}
/* 
.separation-tr{
    display: none;
} */
.test-salut{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.pagination span{
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 5px;
}
.current{
    background-color: #152149;
    color: white !important;
}
@media only screen and (max-width: 964px){
    th{
        display: none;
    }
    table, tr, td{
        display: block;
        width: 100%;
    }
    tr{
        margin-bottom: 1rem;
    }
    td{
        text-align: left;
        position: relative;
        width: 100%;
    }
    td::before{
        content: attr(data-label);
        display: block;
        width: 100%;
        padding-left: -5px;
        color: #152149;
        font-weight: 600;
        font-size: 15px;
    }

    .lastchild::after{
        content: "";
        display: block;
        width: 90%;
        height: 2px;
        background-color: #152149;
        position: absolute;
        top: 4rem;
    }
}