{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">



 <div class="totalDiv">
        <select class="selectYear" id="selectYear"> 
        </select>
</div>
    
    <h3 class="jsInject"></h3>


    {% if userAction == null %}
        <p>Aucune action n'a été effectuée par cet utilisateur</p>
    {% else %}

        {# {{dump(userAction)}} #}

    <h4 class="upperTableau">détails des saisie de l'utilisateur {{ user.username }}</h4>
        <div class="allDataUser">
            <div class="tableau">
             <table class="table">
                    <tr>
                        <th data-column="association" data-order="desc" class="column" >Association</th>
                        <th data-column="date" data-order="desc" class="column">Date</th>
                        <th>Ville de départ</th>
                        <th>Ville d'arrivée</th>    
                        <th>Km</th>
                        <th>Raisons</th>
                        <th>Heure de départ</th>
                        <th>Heure d'arrivée</th>
                        <th>Durée</th>
                        <th>Frais</th>
                        <th>Don</th>
                        <th>A payer</th>
                        <th>Heures valorisées</th>
                        <th>suprimer</th>
                    </tr>
                <div class="ajaxDivContent">
                    {% include "admin/action_user.html.twig" %} 
                </div>

            </div>
        </div>
    {% endif %}


{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {{ encore_entry_script_tags('admin') }}

{% endblock %}