{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


 <div class="totalDiv">

        <select class="selectYear" id="selectYear"> 
        </select>

</div>
    

    {% if userAction == null %}
        <p>Aucune action n'a été effectuée par cet utilisateur</p>
    {% else %}

        {# {{dump(userAction)}} #}

    <h4 class="upperTableau">détails des saisie de l'utilisateur {{ user.username }}</h4>
    <h3 class="totalP"></h3>
        <div class="allDataUser">
            <div class="tableau">
                <div class="ajaxDivContent">
                    {% include "admin/action_user.html.twig" %} 
                </div>

            </div>
        </div>
    {% endif %}


{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {{ encore_entry_script_tags('admin') }}

{% endblock %}