{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


{% if app.user == true %}
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% else %}
    <h1>devez etre connectez pour faire une saisie</h1>
{% endif %}


{% endblock %}
